PORT=3001
NODE_ENV=production

# Banco de dados — usar nome do container pois estão na mesma rede Docker
DB_HOST=postgres_db
DB_PORT=5432
DB_NAME=ferragem_oliveira
DB_USER=leonardo
DB_PASSWORD=SUA_SENHA_AQUI
DATABASE_URL=postgresql://leonardo:SUA_SENHA_AQUI@postgres_db:5432/ferragem_oliveira
